::ng-deep html,
::ng-deep body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

::ng-deep body {
  font-family: "Press Start 2P", cursive;
  background: repeating-linear-gradient(
    to bottom,
    #0f0a1e,
    #0f0a1e 2px,
    lighten(#0f0a1e, 3%) 2px,
    lighten(#0f0a1e, 3%) 4px
  );
}
